*{ padding:; margin:0; }

html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  padding: 2em;
  flex: 0;
}

.cell-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status {
  margin: 2px;
  font-family: monospace;
  text-align: center;
  flex: 0;
}

.keyboard-container {
  flex: 0;
  padding-top: 2em;
  touch-action: none;
}
.guess {
  display: flex;
  justify-content: center;
}
.cell {
  border: 2px solid black;
  padding: 2px 8px;
  margin: 2px;
  font-family: monospace;
  font-size: 26px;
  text-transform: uppercase;
}
[data-state="blank"] {
  background-color: white;
  border-color: gray;
  color: black;
}
[data-state="filled"] {
  background-color: white;
  border-color: black;
  color: black;
}
[data-state="wrong"] {
  background-color: gray;
  border-color: gray;
  color: white;
}
[data-state="present"] {
  background-color: rgb(201, 180, 88);
  border-color: rgb(201, 180, 88);
  color: white;
}
[data-state="correct"] {
  background-color: rgb(106, 170, 100);
  border-color: rgb(106, 170, 100);
  color: white;
}

.kbrow {
  display: flex;
  justify-content: center;
}

.kbrow button {
  border: none;
  padding: .4em;
  margin: .17em;
  text-transform: uppercase;
  color: black;
  font-size: 16px !important;
}

button, select {
  color: black;
}

.kbrow button[data-state] {
  color: white;
  font-weight: bold;
}
